.toolbar {
  font-family: 'Montserrat';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid rgb(7, 55, 0);
  background: #20500a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #304b10,
    #25510f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2b430e,
    #1c4a09
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.spacer {
  flex: 1;
}

.toolbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar-logo {
  margin-left: 0.5rem;
  font-family: 'Odibee Sans', sans-serif;
}

.toolbar-logo a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2.3rem;
}

.toolbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-navigation-items li {
  padding: 0 1.2rem;
}

.toolbar-navigation-items a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.6em;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
  color: rgb(131, 255, 131);
}

@media (max-width: 768px) {
  .toolbar-navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .hamburger-button {
    display: none;
  }
}
