#the-dropdown-container {
  display: block;
  margin: 0 auto;
  width: 12em;
}

#the-dropdown {
  display: block;
  margin: 0 auto;
  text-align: center;
  display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: rgb(35, 72, 37);
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid rgb(51, 86, 54);
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
}

#the-dropdown:hover {
	border-color: rgb(25, 92, 34);
}

#the-dropdown:focus {
	border-color: rgb(39, 79, 27);
	box-shadow: 0 0 1px 3px rgba(32, 91, 29, 0.7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: rgb(46, 101, 44);
	outline: none;
}

#the-dropdwon > option {
  text-align: center;
}