html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  height: 100%;
  background: rgb(200, 230, 200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 310px) {
  body {
    background: white;
  }
}
