.keyFacts {
    font-family: 'Roboto', sans-serif;
  }
  
  .keyFacts > ul {
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
  }
  
  .myTable {
    width: 350px;
    margin: 0 auto;
  }
  
  td:nth-child(1){
    font-weight: bold;
    padding-left: 5px;
  }
  
  td {
      padding: 10px 0;
  }
  
  
  