/* .tableWrapper {
    margin-left: 40px;
    margin-right: 40px;
} */

.compWrapper {
    background: white;
    width: 900px;
    margin: 20px auto 60px auto;
}

.td {
    text-align: left;
    background: rgb(255, 210, 210)
}

.tr:nth-child(odd){
    background: rgb(255, 255, 255);
}

.tr:nth-child(even){
    background: rgb(197, 255, 195);
}


td:nth-child(3){
    text-align: center;
    padding: 3px;
}

td:nth-child(2){
    text-align: center;
    padding: 3px;
}

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
}

.th > th {
    background: rgb(255, 245, 213);
}

td, th {
    border: 1px solid black;
    font-size: 10pt;
}

i {
    width: 10px;
    height: auto;
}

.compWrapper > h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media(max-width: 902px){
    .compWrapper {
        background: white;
        width: 700px;
        margin: 20px auto 60px auto;
        overflow-x: scroll;
    }
}
@media(max-width: 702px){
    .compWrapper {
        background: white;
        border: 2px solid green;
        width: 500px;
        height: 400px;
        margin: 20px auto 60px auto;
        overflow-x: scroll;
        overflow-y: scroll;
  }
}

@media(max-width: 502px){
    .compWrapper {
        background: rgb(255, 255, 255);
        width: 410px;
        margin: 20px auto 60px auto;
        overflow-x: scroll;
    }
}
@media(max-width: 412px){
    .compWrapper {
        background: rgb(255, 255, 255);
        width: 310px;
        margin: 20px auto 60px auto;
        overflow-x: scroll;
    }
}