

.td {
    text-align: left;
    background: rgb(210, 255, 252);
}

.tr:nth-child(odd){
    background: rgb(211, 255, 240);
}

.tr:nth-child(even){
    background: rgb(165, 216, 255);
}


td:nth-child(3){
    text-align: center;
    padding: 3px;
}

td:nth-child(2){
    text-align: center;
    padding: 3px;
}

table {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
}

.th > th {
    background: rgb(255, 245, 213);
}

td, th {
    border: 1px solid black;
}

.tablewrapper {
    width: 100vw;
    margin: 0 auto;
}

i {
    width: 10px;
    height: auto;
}

.compWrapper > h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.compWrapper {
    width: 100vw;
}