.Toolbar {
    color: rgb(255, 255, 255);
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 50, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;  /*must be lower than backdrop's*/
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    font-family: 'Odibee Sans', cursive;
    font-size: 36px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}