.gear {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.saleItems {
  display: flex;
  justify-content: center;
}

.tentDiv {
  width: 150px;
  text-align: center;
  padding: 5px;
  margin: 0 5px;
}

.tentDiv > h5 {
  display: inline;
}

#productImage {
  display: block;
  margin: 0 auto;
  height: 150px;
}

#tentButton {
  display: block;
  margin: 0 auto;
  font-style: none;
  text-decoration: none;
  border: 1px solid green;
  text-align: center;
  width: 65px;
  padding: 5px;
  color: rgb(0, 79, 0);
  background: rgb(197, 255, 146);
  font-weight: bold;
}

#tentButton:hover {
  color: rgb(0, 79, 0);
  background: rgb(235, 255, 133);
}
