.previewWords {
    padding: 0 0 0 4px;
}

.postblock {
    display: flex;
    border: 1px rgb(48, 121, 0) solid;
    margin: 10px 10px 5px 10px;
}

.postblockimg {
    max-height: 180px;
    max-width: 180px;
}

.postpreviewtitle {
    font-family: 'Georgia';
    text-align: left;
    margin: 5px 0 -10px 0;
    max-width: 500px;
    font-size: 28px;
}

.authorplusdate {
    display: flex;
    max-height: 30px;
    width: 160px;
    padding: 0px 5px;
    align-items: center;
    justify-content: space-between;
}

#previewDate {
    font-weight: 400;
}

@media(max-width: 500px){
    .postblock {
        display: flex;
        border: 1px rgb(48, 121, 0) solid;
        margin: 10px 10px 5px 10px;
    }
    
    .postblockimg {
        max-height: 150px;
        max-width: 150px;
    }
    
    .postpreviewtitle {
        font-size: 20px;
    }
    
    .authorplusdate {
        width: 130px;
    }

}