.wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column-gap: 1em;
  grid-row-gap: 1em; */
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
  border-radius: 20px;
  padding: 1em;
  background: rgb(255, 255, 255);
}

.map {
  grid-row: 1/3;
  text-align: center;
}

.map > img {
  max-height: 600px;
}

@media(max-width: 750px){
  .wrapper {
    margin: 8px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
  }

  .map > img {
    max-height: 400px;
  }
}