.bottomRightDataContainer {
    flex: 1;
    background: yellow;
}

.contentContainer {
    padding: 10px;
}

@media (max-width: 575px) {
    .bottomLeftDataContainer {
    border: 1px solid black;
      display: block;
      margin-bottom: 0;
    }
  }
  