.animals {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.wildTitle {
    margin-bottom: 0;
    padding-bottom: 0;
}

.moose {
    text-align: center;
}

.blackBear {
    text-align: center;
}

.blackBearTitle {
    padding-left: 4px;
}

.moose > img {
    max-width: 90px;
}