#noteworthyTitle {
    margin-bottom: 0px;
}

.animals {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.wildTitle {
    margin-top: 34px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.titleAndCannonIcon {
    display: flex;
}

.cannonIconWrapper {
    margin-top: 14px;
    margin-right: 10px;
}

#cannonIcon {
    width: 26px;
}

.titleAndTrainIcon {
    display: flex;
}

.trainIconWrapper {
    margin-top: 12px;
    margin-right: 10px;
    height: 30px;
}

#trainIcon {
    width: 30px;
}

.moose {
    text-align: center;
}

.blackBear {
    text-align: center;
}

.blackBearTitle {
    padding-left: 4px;
}

.moose > img {
    max-width: 90px;
}