.postContainer {
  margin: 20px 40px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: white;
  height: 100vh;
}

.postContent {
  grid-column: 4/10;
}

.postContent > p {
  background: white;
  font-size: 16pt;
  width: 35em;
}

@media (max-width: 1550px) {
  .postContent > p {
    width: 30em;
    width: 30em;
  }
}

@media (max-width: 1400px) {
  .postContainer {
    display: block;
    margin: 15px 30px;
  }
  .postContent {
    width: 650px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .postTitle {
      font-size: 22pt;
  }
  .postContainer {
      margin: 15px 0;
  }
  .postContent {
    width: 500px;
  }
  .postContent > p {
    width: 22em;
  }
}

@media (max-width: 630px) {
  .postContent {
    width: 550px;
  }
  .postContent > p {
    width: 550px;
  }
}
@media (max-width: 600px) {
  .postContent {
    width: 500px;
  }
  .postContent > p {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .postContent {
    width: 450px;
  }
  .postContent > p {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .postContent {
    width: 400px;
  }
  .postContent > p {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .postTitle {
      font-size: 18pt;
  }
  .postContent {
    width: 350px;
  }
  .postContent > p {
    width: 350px;
    font-size: 14pt;
  }
}
@media (max-width: 400px) {
  .postContent {
    width: 300px;
  }
  .postContent > p {
    width: 300px;
  }
}
