.container {
  background: rgb(0, 123, 0);
}

.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: rgb(237, 237, 237);
}

.header > select {
  text-align: center;
  padding: 12px;
  height: 28px;
  margin-bottom: 10px;
  background: rgb(176, 255, 176);
  font-weight: bold;
  text-align-last: center;
}

@media(max-width: 400px){
  .container {
    display: grid;
  }

  .header {
    margin-bottom: 0;
    border-bottom: 1px solid rgb(0, 44, 0);
  }
}
