.container {
  background: rgb(220, 235, 220);
}

.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: rgb(237, 237, 237);
}

.header > select {
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 40px;
  margin-bottom: 10px;
  background: rgb(206, 255, 206);
  font-weight: bold;
  text-align-last: center;
}

#headerPrompt {
  margin-top: 40px;
  padding-top: 40px;
}

@media(max-width: 400px){
  .container {
    display: grid;
  }

  .header {
    margin-bottom: 0;
    border-bottom: 1px solid rgb(0, 44, 0);
  }
}
