.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}


.toolbar-logo {
    margin-left: 1rem;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 30px;
    height: 1px;
    background: rgb(255, 255, 255);
}

.toggle-button.hide {
    display: none;
}