.side-drawer {
  height: 28%;
  background: white;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.5);
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 15px;
  left: 0;
  right: 0;
  width: 95%;
  z-index: 200;
  border-radius: 8px;
  transform: translateY(-100%);
  transition: transform 0.1s ease-out;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer li {
  /*margin: 0.4rem 0;*/
  padding: 5px;
}

.side-drawer a {
  color: rgb(20, 55, 21);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  text-decoration: underline;
}

.side-drawer.open {
  transform: translateY(0); 
  transition: transform 0.4s ease-out;
}

#x-out{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    filter: brightness(.5);
}