.blogcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 12 col */
    margin: 0 auto;
    width: 95%;
    background: white;
}

.previewColumn {
    grid-column: 1/9;
}

.rightColumn {
    grid-column: 9/13;
    text-align: center;
    padding-top: 10px;
}

@media(max-width: 700px){
    .previewColumn {
        grid-column: 1/13;
    }
    .rightColumn {
        display: none;
    }

    .blogcontainer {
        font-size: 80%;
    }
}