#contactPageWrapper {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 318px;
    margin: 20px auto 0 auto;
}

#contactFormWrapper {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    background: white;
    margin-bottom: 25px;
}

#firstInput {
    display: block;
    margin: 10px auto;
}

#secondInput {
    display: block;
    margin: 5px auto;
}

#emailInput {
    border: 1px solid rgb(0, 85, 0);
    padding: 8px 0px 8px 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 10pt;
    color: rgb(0, 39, 0);
    width: 15em;
}

#messageInput {
    height: 80px;
    border: 1px solid rgb(0, 83, 0);
    padding: 10px 0px 10px 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 10pt;
    color: rgb(0, 39, 0);
    width: 15em;
}

#contactSubmitBtn {
    background: rgb(43, 87, 17);
    border: 1px solid rgb(0, 51, 0);
    padding: 10px 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 12pt;
    color: rgb(245, 255, 157);
}

#contactSubmitBtn:hover {
    background: rgb(41, 112, 0);
    color: rgb(245, 255, 102);

}