#aboutPageWrapper {
    font-family: 'Roboto', sans-serif;
    width: 318px;
    margin: 20px auto 0 auto;
}

.aboutSection {
    border-radius: 8px;
    padding: 5px;
    display: block;
    margin: 0 auto;
    width: 300px;
    background: white;
}

#amazonDisclaimer {
    font-style: italic;
    font-size: 10pt;
}