.compWrapper {
  margin: 10px;
  text-align: center;
}

.tableTitle {
  font-size: 38px;
  margin: 26px;
  font-family: 'Odibee Sans', sans-serif;
  color: rgb(0, 20, 0);
}

#AllTrailsTable {
  display: inline-block;
  max-width: 1132px;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(26, 49, 23);
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(149, 175, 151);
  box-shadow: rgba(0, 0, 0, 3);
}

#AllTrailsTable tr:nth-child(2n) {
  background-color: rgb(230, 240, 230);
}

.allTrailsTH > th {
  text-align: center;
  border-left: 1px solid rgb(149, 175, 151);
  border-right: 1px solid rgb(149, 175, 151);
  border-top: 1px solid rgb(149, 175, 151);
  border-bottom: 1px solid rgb(149, 175, 151);
  background: rgb(164, 255, 159);
  font-size: 10px;
  font-size: 10px;
  padding: 1px;
}

.allTrailsTD > td {
  padding: 3px;
  font-size: 10px;
  border-right: 1px solid rgb(149, 175, 151);
  border-left: 1px solid rgb(149, 175, 151);
}

.allTrailsTD > td:nth-child(1) {
  min-width: 12em;
  text-align: left;
}
.allTrailsTD > td:nth-child(2) {
  text-align: center;
}
.allTrailsTD > td:nth-child(3) {
  text-align: center;
}
.allTrailsTD > td:nth-child(4) {
  text-align: center;
}
.allTrailsTD > td:nth-child(5) {
  text-align: center;
}
.allTrailsTD > td:nth-child(6) {
  text-align: center;
}
.allTrailsTD > td:nth-child(7) {
  text-align: center;
}
.allTrailsTD > td:nth-child(8) {
  text-align: center;
}
.allTrailsTD > td:nth-child(9) {
  text-align: center;
}
.allTrailsTD > td:nth-child(10) {
  text-align: center;
}
.allTrailsTD > td:nth-child(11) {
  text-align: center;
}

i {
  width: 10px;
  height: auto;
}

.compWrapper > h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1115px) {
  #AllTrailsTable {
    max-width: 1312px;
  }
  .allTrailsTH > th {
    font-size: 12px;
  }

  .allTrailsTD > td {
    font-size: 12px;
  }
}
@media (min-width: 975px) {
  #AllTrailsData {
    max-width: 400px;
  }
}
@media (max-width: 702px) {
  .compWrapper {
    height: 215px;
    border: 2px solid green;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .allTrailsTH > th {
    font-size: 8px;
  }
  
  .allTrailsTD > td {
    font-size: 8px;
  }  
}