.keyFacts {
  font-family: 'Helvetica', sans-serif;
}

.keyFacts > ul {
  font-size: 18pt;
  font-family: 'Helvetica', sans-serif;
}

.keyFactsTable {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 450px;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  background: rgb(200, 230, 200);
}

.keyFactsTable td {
  border: 3px solid rgb(15, 50, 15);
}

/* .ta tr, td {
  border: 1px solid #ddd;
  text-align: center;
} */

.keyFactsTable td:nth-child(1){
  max-width: 5em;
  text-align: left;
  background-color: rgb(85, 135, 85);
}

@media(max-width: 400px){
  .myTable {
      max-width: 300px;
  }
}



