.keyFacts {
  font-family: 'Helvetica', sans-serif;
}

.keyFacts > ul {
  font-size: 18pt;
  font-family: 'Helvetica', sans-serif;
}

.myTable {
  width: 350px;
  margin: 0 auto;
}

.myTable > td {
  border: 1px solid black;
}

td:nth-child(1){
  font-weight: bold;
}

@media(max-width: 400px){
  .myTable {
      max-width: 300px;
  }
}



