
.moreStatsTable {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 550px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    background: rgb(200, 230, 200);
  }

  .moreStatsTable th {
    border: 4px solid rgb(15, 50, 15);
    margin: 0px;
    padding: 2px;
    background-color: rgb(85, 135, 85);
  }
  
  .moreStatsTable td {
    border: 3px solid rgb(15, 50, 15);
    margin: 0px;
    padding: 2px;
  }
  
  .moreStatsTable td:nth-child(1) {
    text-align: left;
  }
  
  .moreStatsTable tr:nth-child(2n) {
      background-color: rgb(141, 234, 141);
  }
  
  @media(max-width: 400px){
      .moreStatsTable {
          max-width: 300px;
      }
  }