.allAnimals {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 20px;
    text-align: center; /* to align images! */
    margin-bottom: 18px;
}

.icon {
    max-width: 100px;
}

.goat {
    width: 150px;
}

.bison {
    width: 120px;
}