

.tdcrown {
    text-align: left;
    background: rgb(235, 255, 161);
}

tr:nth-child(odd){
    background: rgb(255, 247, 199)
}

td:nth-child(6){
    font-size: 10pt;
    text-align: center;
    padding: 3px;
}
td:nth-child(5){
    text-align: center;
    padding: 3px;
}

td:nth-child(4){
    text-align: center;
    padding: 3px;
}

td:nth-child(3){
    text-align: center;
    padding: 3px;
}

td:nth-child(2){
    text-align: center;
    padding: 3px;
}

th {
    background: rgb(232, 255, 232);
}

th:nth-child(5){
    font-size: 10pt;
}
th:nth-child(5){
    font-size: 10pt;
}
th:nth-child(4){
    font-size: 10pt;
}

i {
    width: 10px;
    height: auto;
}

.compWrapperCrown > h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media(max-width: 470px){
    .compWrapperCrown {
        display: none;
    }   

}
